{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "keyword-spacing": 2,
    "indent": [2, 2, {"VariableDeclarator": { "var": 2, "let": 2, "const": 3}, "SwitchCase": 1}],
    "semi": [2, "always"],
    "space-before-blocks": 2,
    "quotes": [2, "double", {"allowTemplateLiterals": true}],
    "space-infix-ops": 2,
    "comma-dangle": ["error", "only-multiline"],
    "strict": ["error", "global"],
    "curly": ["error", "all"],
    "no-var": "error",
    "one-var": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "prefer-const": "error"
  }
}
