.head {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.body {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.tail {
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: scaleX(-1); display: inline-block
}
